* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
picframe/_version.py export-subst
cache/**/*.{jpg,jpeg,png,gif,mp4,mov,mkv,avi} filter=lfs diff=lfs merge=lfs -text
test/**/*.{jpg,jpeg,png,gif,mp4,mov,mkv,avi} filter=lfs diff=lfs merge=lfs -text
